<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Movie Recommendations</title>
</head>
<body>
    <div class="container">
        <h1>Movie Recommendations for {{ movie_title }}</h1>
        <ul>
            {% for recommendation in recommendations %}
                <li>{{ recommendation }}</li>
            {% endfor %}
        </ul>
        <a href="/">Go back to homepage</a>
    </div>
</body>
</html>
